@import '~styles/base';

.a-icon {
  //   border: 1px solid red;
  margin: 15px;
  width: 80px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #ffffff;
  font-size: 16px;
  text-shadow: 1px 1px 5px rgb(67, 67, 67);
  @include no-highlight;
  img {
    width: 100%;
  }
  @include breakpoint('xsmall') {
    width: 60px;
    font-size: 12px;
  }
}

.a-icon__container--icon {
  width: 60px;
  @include breakpoint('xsmall') {
    width: 40px;
  }
}

.a-icon__container--image {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(218, 218, 218);
  img {
    width: 60px;
  }
}
