@import '~styles/base';

.a-icon {
  margin: 15px;
  width: 80px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  img {
    width: 60px;
  }
  font-weight: bold;
  color: #ffffff;
  font-size: 16px;
  text-shadow: 1px 1px 5px rgb(78, 78, 78);
  @include no-highlight;
}
