.l-layout-default {
  height: 100%;
  overflow: hidden;
  background: url("~@/assets/images/background.png") no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
