@import '~styles/base';

.l-layout-default {
  height: 100%;
  overflow: hidden;
  background: url('~@/assets/images/background.png') no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.l-layout-default__icon-container {
  height: calc(100% - 50px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
