@import '~styles/base';

.a-window {
  touch-action: none;
  position: fixed;
  border-radius: 15px 15px 5px 5px;
  border: 4px solid $blue--50;
  background-color: rgb(248, 248, 248);
  box-shadow: rgb(136, 136, 136) 0px 0px 15px;
  display: flex;
  flex-flow: column nowrap;
}

.a-window__top-bar {
  position: relative;
  top: 0px;
  height: 35px;
  background-color: $blue--50;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  padding-bottom: 3px;
  font-weight: 700;
  font-size: 17px;
  color: white;
  @include no-highlight;

  @include breakpoint('xsmall') {
    height: 28px;
    padding: 0 8px 3px 8px;
    font-size: 15px;
  }
}

.a-window__content {
  flex-grow: 3;
  border: 1px solid $grey--40;
  border-top: 0;
}

.a-window__content--icons {
  padding: 10px;
  @include breakpoint('xsmall') {
    padding: 5px;
  }
  display: flex;
}

.a-window__content--image {
  border: 1px solid $blue--70;
  display: flex;
}

.a-window__content--text {
  color: $black;
  text-align: left;
  font-size: 15px;
  font-family: 'Lucida Console', 'Courier New', monospace;
  line-height: 20px;
  padding: 8px 10px;
  div {
    margin-top: 12px;
  }
  @include breakpoint('xsmall') {
    padding: 5px;
    font-size: 13px;
    overflow: auto;

    div {
      margin-top: 8px;
    }
  }
}
