@import '~styles/base';

.a-window__menu-bar {
  display: flex;
  align-items: center;
  padding-left: 10px;
  height: 30px;
  background-color: $grey--40;

  span {
    margin-right: 10px;
    font-weight: 500;
    font-size: 15px;
    @include no-highlight;
  }

  @include breakpoint('xsmall') {
    height: 25px;
    span {
      font-size: 11px;
    }
  }
  //   -webkit-box-shadow: inset 0px -12px 10px -11px $grey--50;
  //   box-shadow: inset 0px -12px 10px -11px $grey--50;
}
